<div class="accordion" id="eventsAccordion">
    <!-- ENGLAND AND WALES -->
    <div class="accordion-item" id="englandAndWales">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                England and Wales
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#eventsAccordion">
            <div class="accordion-body" id="englandAndWalesBody"></div>
        </div>
    </div>
    <!-- SCOTLAND -->
    <div class="accordion-item" id="scotland">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Scotland
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#eventsAccordion">
            <div class="accordion-body" id="scotlandBody"></div>
        </div>
    </div>
    <!-- NORTHERN IRELAND -->
    <div class="accordion-item" id="northernIreland">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Northern Ireland
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#eventsAccordion">
            <div class="accordion-body" id="northernIrelandBody"></div>
        </div>
    </div>
</div>

{% comment %} <div class="accordion" id="eventsAccordion">
    <!-- ENGLAND AND WALES -->
    <div class="accordion-item" id="englandAndWales">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                England and Wales
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#eventsAccordion">
            <div class="accordion-body">
                {% assign englandAndWalesEvents = url.data.events['england-and-wales'].events %}
                {% assign lastYear = nil %}
                {% for event in englandAndWalesEvents %}
                    {% assign eventDate = event.date | date: "%Y" %}
                    {% if lastYear != eventDate %}
                        <h5>{{ eventDate }}</h5>
                        {% assign lastYear = eventDate %}
                    {% endif %}
                    <div>{{ event.title }} - {{ event.date | date: "%d %B %Y" }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- SCOTLAND -->
    <div class="accordion-item" id="scotland">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Scotland
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#eventsAccordion">
            <div class="accordion-body">
                {% assign scotlandEvents = url.data.events['scotland'].events %}
                {% assign lastYear = nil %}
                {% for event in scotlandEvents %}
                    {% assign eventDate = event.date | date: "%Y" %}
                    {% if lastYear != eventDate %}
                        <h5>{{ eventDate }}</h5>
                        {% assign lastYear = eventDate %}
                    {% endif %}
                    <div>{{ event.title }} - {{ event.date | date: "%d %B %Y" }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- NORTHERN IRELAND -->
    <div class="accordion-item" id="northernIreland">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Northern Ireland
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#eventsAccordion">
            <div class="accordion-body">
                {% assign northernIrelandEvents = url.data.events['northern-ireland'].events %}
                {% assign lastYear = nil %}
                {% for event in northernIrelandEvents %}
                    {% assign eventDate = event.date | date: "%Y" %}
                    {% if lastYear != eventDate %}
                        <h5>{{ eventDate }}</h5>
                        {% assign lastYear = eventDate %}
                    {% endif %}
                    <div>{{ event.title }} - {{ event.date | date: "%d %B %Y" }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> {% endcomment %}
